/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.env.production
.git
.gitattributes
.gitignore
/.fleet
/.idea
/.vscode
docker-compose.yml
docker-compose.prod.yml
README.md
DEPLOY.md
EXAMPLES.md
QUICKSTART.md
CONFIGURACAO_BANCO_EXTERNO.md
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
